{% extends 'base.html.twig' %}
{% block title %}{{parent()}}|  Inscription{% endblock %}
{% block keywords  %}{{parent()}}| Inscription{% endblock %}
{% block description %}{{parent()}}| Inscription {% endblock %}

{% block h1 %}Inscription{% endblock %}


{% block body %}


	{{ form_errors(registrationForm) }}

	{{ form_start(registrationForm, {'attr': {'class':'bg-white col-md-6 mx-auto p-4 rounded border border-2 border-gold '}}) }}
    {{ form_row(registrationForm.email)}}
	{{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.firstName)}}
    {{ form_row(registrationForm.lastName)}}
	{{ form_row(registrationForm.agreeTerms)}}

	<button type="submit" class=" btn btn-dark w-100 pt-2">S'inscrire</button>
	{{ form_end(registrationForm) }}
{% endblock %}
